* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  
  
  }

#padre-container {
    display: grid;
    height: auto;
    width: auto;
    background-image: url(../Imagenes/tutaback.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    font-family: 'Raleway', sans-serif;
    grid-template-areas: "header header header" 
    "menu main aside" "footer footer footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
   
}

#padre-container div {
    background-color: #a0937d;
    color: antiquewhite;
    border: 1px solid black;
}
.item1{
    grid-area: header;
    border: 2px solid black;
    border-radius: 15px;
    background-image: linear-gradient(to top right, black, grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 15px;
    
    
}


.navegador  {
    border: 2px transparent gray;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to top right, black, gray);
    align-items: center;
    list-style: none ;
    width: 400px;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color:azure;
}
.navegador a:hover {
    background-image: linear-gradient( to top left, white,gray);
    color:white;
}



.item1 h2 {
    border: 2px transparent gray;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to top right, black, gray);
    align-items: baseline;
    list-style: none ;
    width:800px ;
    justify-content: center;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size:2rem;
    color:antiquewhite;
    animation-duration: 5s;
    animation-name: aparecer;

}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 
.item2 {
    grid-area: menu;
    height: auto;
    border: 2px transparent gray;
    border-radius: 20px;
    background-image: linear-gradient(to top right, black, grey);
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;
    justify-content: left;
    align-content: center;
    padding: 30px;
    margin:30px;
    font-size: 1.5rem
    
}
.item2 h3 {
    background-color: antiquewhite;
    border: 2px transparent gray;
    border-radius: 20px;
    font-style: 'Raleway',sans-serif;
    color: grey;
    padding: 10px;
    margin: 5px;
    font-size: 1.5rem;
    
    
}
.mnf {

    border: 2px transparent gray;
    border-radius: 20px;
    background-image: linear-gradient(to top right, black, antiquewhite);
    padding: 10px;
    font-size: 2rem;
}

.hq {
    border: 2px transparent gray;
    border-radius: 20px;
    background-image: linear-gradient(to top right, black, antiquewhite);
    padding: 10px;
    font-size: 2rem;
}

.ah  {
    
    border: 2px transparent gray;
    border-radius: 20px;
    background-image: linear-gradient(to top right, black, antiquewhite);
    padding: 10px;
    font-size: 2rem;
}



.item3{
       
    grid-area: main;
    height: auto;
    border: 2px transparent gray;
    border-radius: 20px;
    background-image: linear-gradient(to top right, black, grey);
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;
    justify-content: left;
    align-content: center;
    padding: 30px;
    margin:30px;
    font-size: 1.5rem;
    
}

.item3 h3 {
    background-color: #e7d4b5;
    border: 2px transparent gray;
    border-radius: 20px;
    font-style: 'Raleway',sans-serif;
    color: grey;
    padding: 10px;
    margin: 5px;
    font-size: 1.5rem;
}
.item3 h4 {
    background-color: whitesmoke;
    border: 2px transparent gray;
    border-radius: 20px;
    font-style: 'Raleway',sans-serif;
    color: grey;
    padding: 10px;
    margin: 5px;
    font-size: 1.2rem;
}
.formulario {
    background-color:whitesmoke;
    font-size: 2rem;
    border: 2px transparent gray;
    border-radius: 20px;
    padding: 5px;
    font-family:'Raleway',sans-serif ;
}

.item4{

    grid-area: aside;
    height: auto;
    border: 2px transparent gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    padding: 20px;
    margin: auto;
    transition-property: o ;
    
}
.item5 {
    grid-area: footer;
    height: auto;
    border: 2px transparent gray;
    border-radius: 20px;
   

}
.item5 h4{
    border: 2px transparent gray;
    border-radius: 20px;
    background-image: linear-gradient(to top right, black, grey);
    background-color:#e7d4b5 ;
    font-family: 'Raleway', sans-serif, italic;
    color: #a0937d;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: left;
    padding: 15px;
}
.item5 nav {

    background-color: gray;
    color: antiquewhite;
    border: 2px transparent gray;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 1.2rem;

}

.publicidad1 {
    max-height: 400px;
    max-width: 400px;
}

.publicidad1:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}

.publicidad2  {
    max-height:400px;
    max-width: 400px;
}


.publicidad2:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}
.redes i{
    color: black;
    font-size: 4rem; 
   
}

.redes i:hover{
    color: white;
}

	
	
	







